{% extends 'base.html' %}

{% block bodyblock %}
<div class="container">
    <br><h3 class='display-2'>Result</h3>
</div>
<br>
<!--<div class="container">-->
<!--    <br>-->
    <!--<form action="#" method="post" enctype="multipart/form-data">-->
    <!--    <label for="upload">Upload to predict</label>-->
    <!--    <input type="file" id="upload" name="fileToUpload" required="true">-->
    <!--    <input type="submit" value="Upload & Predict" class="btn btn-outline-primary">-->
    <!--</form>-->

<!--</div><br><br>-->
{% if not fileupload %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
{% if fileupload  %}
    {%if not is_car%}
        <p>The image doesnt have any car!!!!! Try with another Image</p>
    {%endif%}
    {%if is_car%}
        <p>Car Found..</p>
        {%if damaged_car%}
            <p>Damage Found..</p>
            <div class="container">
                <div class="row"><center>
                    <div class="column" id="predict">
                        <p>Original Image:</p>
                        <img src="{{ url_for('display_image', filename=filename) }}">
                    </div>
                    <div class="column">
                        <p>Predicted Image:</p>
                        <img src="{{ url_for('predict_image', imagename=imagename) }}">
                    </div>
                    <div>
                        <ul class="actions">
                          <li><a href="/download" class="button primary icon solid fa-download">Download</a></li>
                    
                        </ul>
                        
                    </div>
                </div>
                <br>
                <br>
            </div>
        {%endif%}
        {%if not damaged_car%}
            <p> The car is not damaged!!!!</p>
        {%endif%}
    {%endif%}
    {%if not is_car%}
    <p>No car detected.....</p>
    {%endif%}
    {%if zipupload%}
        <p>Images Found: {{image_len}}</p>
        <ul class="actions">
                          <li><a href="/download" class="button primary icon solid fa-download">Download Zip</a></li>
                    
                        </ul>
                        
    {%endif%}

{% endif %}

{% endblock %}